@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme{
    --font-display: 'Josefin Sans', sans-serif;
}

:root {
    --hero-bg: url('/images/bg-mobile-light.jpg');

  --color-bg-primary: 0 0% 98%; /* Gray 50 */
  --color-bg-elevated: 0 0% 100%; /* White */
  /* --color-text-subtle: 235 19% 35%; Purple 300 */
  --color-border-default: 233 11% 84%; /* Gray 300 */
  --color-text-muted: 236 9% 61%; /* Gray 600 */
  --color-text-primary: 235 19% 35%; /* Navy 850 */
  --color-accent: 220 98% 61%; /* Blue 500 — primary */
  /* --color-bg-subtle */
}

.dark {
    --hero-bg: url('/images/bg-mobile-dark.jpg');

  --color-bg-primary: 235 21% 11%; /* Navy 950 */
  --color-bg-elevated: 235 24% 19%; /* Navy 900 */
  --color-bg-subtle: 237 14% 26%; /* Purple 800 */
  --color-bg-hover: 236 33% 92%; /* Purple 100 — hover */
  --color-border-default: 233 14% 35%; /* Purple 700 */
  --color-border-strong: 235 16% 43%; /* Purple 600 */
  --color-text-muted: 236 9% 61%; /* Gray 600 */
  --color-text-primary: 234 39% 85%; /* Purple 300 */
  --color-accent: 220 98% 61%; /* Blue 500 — primary */
}

.li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid hsl(var(--color-bg-subtle))
}

.divBox{
  display: flex;
  flex-direction: row;
  gap: 14px;
}

/* LI */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Complete Button */
.complete-btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  border: 1px solid hsl(var(--color-text-muted));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}


.complete-btn:hover {
  border: 2px solid ;
  border-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%) );
  border-image-slice: 1;
  border-radius: 9999px;

}

/* Check Icon */
.todo-check-icon {
  width: 0.75rem;
  height: 0.75rem;
}

/* Paragraph */
.todo-text {
  color: hsl(var(--color-text-primary));
}

/* Delete Button */
.todo-delete-btn {
  /* add any styling you want here */
}




@media (min-width: 1024px) {
    :root {
      --hero-bg: url('/images/bg-desktop-light.jpg');
    }

    .dark {
      --hero-bg: url('/images/bg-desktop-dark.jpg');
    }
}

.check{
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.checked{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%) ) ;
}


.completed-text{
  text-decoration: line-through;
  color: hsl(var(--color-text-muted));
}

.dragging {
    opacity: 0.4;
    background: #e0e0e0;
}